.main-white { background: #FFFFFF; }
.main-gray { background: #9B9B9B; }
.main-dark-gray { background: #373737; }
.main-red { background: #D8514B; }
.main-green { background: #75F7A4; }
.main-purple { background: #8164EA; }
.main-gradient { background: linear-gradient(90deg, #8164EA 14.08%, #75F7A4 94.37%); }

.main-white-text { color: #FFFFFF; }
.main-gray-text { color: #9B9B9B; }
.main-dark-gray-text { color: #373737; }
.main-red-text { color: #D8514B; }
.main-green-text { color: #75F7A4; }
.main-purple-text { color: #8164EA; }
