@import "assets/scss/values";

@mixin generator($prop, $propTitle, $value, $breakpoint: null, $BPTitle: null) {
  @if($breakpoint == null) {
    .#{$propTitle}-#{$value} {
      #{$prop}: $value;
    }
  } @else {
    @media ('min-width': #{$breakpoint}px) {
      .#{$propTitle}-#{$BPTitle}-#{$value} {
        #{$prop}: $value;
      }
    }
  }
}

@mixin start($breakpoints, $class) {
  @include generator(nth($class, 1), nth($class, 2), nth($class, 3));

  @each $breakpoint in $breakpoints {
    @include generator(nth($class, 1), nth($class, 2), nth($class, 3), nth($breakpoint, 1), nth($breakpoint, 2));
  }
}

@each $class in $global-classes {
  @include start($breakpoints, $class);
}
